*.swp
*.swo
*/CMakeFiles/*
CMakeCache.txt
Makefile
*.cmake
*.out
.DS*
*.mp4
*.cfg
*.aux
*.dvi
*.log
*.blg
*.bbl
*.bak
*.gz
*.pyc
!normals_relat/normal_pred/*.cfg
*.pkl
*ipynb*
*logfile.txt
*.pk
*.png
*.jpg
*.patch
*0_Bullet3Demo.txt
